.home-page {
	background-color: white;
	min-height: 100vh;
}

.container {
	margin-top: 20px;
	.product-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		.product-item {
			display: flex;
			flex-direction: column;
			flex: 0 0 calc(25% - 1em);
			margin-right: 1em;

			@media (max-width: 992px) {
				flex: 0 0 calc(50% - 1em);
			}

			@media (max-width: 576px) {
				flex: 0 0 100%;
			}

			@media (max-width: 320px) {
				flex: 0 0 100%;
			}

			@media (max-width: 375px) {
				flex: 0 0 100%;
			}

			@media (max-width: 425px) {
				flex: 0 0 100%;
			}

			.card {
				flex-grow: 1;
			}
		}

		.product-item:last-child {
			margin-right: 0;
		}

		&::after {
			content: '';
			flex: 0 0 calc(75% - 3em);
			visibility: hidden;
		}

		@media (max-width: 992px) {
			&::after {
				flex: 0 0 calc(50% - 1em);
			}
		}

		@media (max-width: 576px) {
			&::after {
				flex: 0 0 0;
			}
		}
	}
	.load-more {
		display: block;
		width: 200px;
		margin: 20px auto 0;
		text-align: center;
		line-height: 30px;
		cursor: pointer;
	}
}
