.card {
	width: 100%;
	margin: 1rem;
	transition: transform 0.3s;
	border: 2px solid rgb(255, 0, 0);

	&:hover {
		transform: scale(1.05);
	}

	.card-top {
		height: 300px;
		.card-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.card-body {
		background-color: #292841;
		.card-content {
			color: white;
			.card-title {
				font-size: 1.25rem;
				font-weight: bold;
			}

			.card-text {
				font-size: 1rem;
			}
		}

		.product-price {
			margin: 10px 0;
			text-align: center;

			.card-text {
				&.price {
					color: #6c757d;
					margin: 5px 0;
					font-weight: bold;

					span:nth-child(2) {
						text-decoration: line-through;
					}
				}

				&.current-price {
					color: red;
					font-size: 1.2rem;
					font-weight: 500;
				}
			}
		}

		.detail-button {
			color: #fff;
			text-align: center;
		}
	}
}
