$primary-color: #30c6b0;

@mixin primary-color {
	color: $primary-color !important;
}

@mixin primary-border-bottom {
	border-bottom: 1px solid $primary-color;
}

.customHeading {
	@include primary-color;
}

.brand {
	font-size: 2rem !important;
	font-weight: bold !important;
	@include primary-color;
}

.custom-form-group {
	label {
		@include primary-color;
		font-size: 13px;
		font-weight: bold;
		letter-spacing: 2px;
	}

	span {
		width: 32px;
		@include primary-border-bottom;
		vertical-align: middle;
		@include primary-color;
		display: inline;
	}

	input {
		width: calc(100% - 32px);
		border: none;
		@include primary-border-bottom;
		box-sizing: content-box;
		outline: none;
	}
}

.custom-btn {
	border-radius: 32px;
	background: $primary-color;
	border: 2px solid transparent;
	color: #fff;
	height: 48px;
	margin: 0 auto;
	&:hover {
		background: #fff;
		border: none;
		border: 2px solid $primary-color;
		@include primary-color;
	}
}

#formPanel {
	min-width: 400px;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}

.objectFit {
	object-fit: contain;
	width: 100%;
	max-width: 400px;
	min-height: 50vh;
	margin: 0 auto;
	padding: 0 2rem;
}

#showCursor {
	cursor: pointer;
}
